<%= content_for(:body_attributes) do %>data-no-turbolink="true"<% end %>

<section class="container">
  
  
  <div class="row">
    <div class="col-sm-6 col-xs-12" id="photo-holder">
      <div id="profile-edit-photo">
        <%= link_to edit_photo_user_path(current_user) do %>
          <%= image_tag @user.avatar(:medium), id: "profile", class: "img-circle img-responsive", data: { toggle: 'tooltip', placement: "right" }, title: "Change profile photo" %>
        <% end %>
        <span class="glyphicon glyphicon-camera"></span>
      </div>
    </div>
      <div class="col-sm-6 col-xs-12">
        <h1 class="profile-name"><%=@user.full_name %></h1>
        <div id ="following"> 
          <div class="stats">
            <strong class="stat">
              <%= link_to following_user_path(@user.id) do %>
                <%= @user.following.count %>
              <% end %>
            </strong>
              Following |
            <strong class="stat">
              <%= link_to followers_user_path(@user.id) do %>
                <%= @user.followers.count %>
              <% end %>
            </strong>
            Followers
          </div>
        </div>
        <hr class="profile-break">
        <div class="edit-profile-link">
          <p class="noto-serif"><%= @user.introduction %></p>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-lg btn-primary" %>
        </div>
        </div>
    <div class="col-xs-12">
      
      <ul class="profile-list">
        <li><%=link_to 'Find Users', users_path, class: "btn btn-default" %></li>
        <li><%=link_to "Following Posts", friends_posts_path, class: "btn btn-default" %></li>
        <li><%=link_to "New Post", new_user_post_path(current_user), class: "btn btn-lg btn-success" %></li>
      </ul>
      
      <!-- form for profile introduction -->
      <% if @user.introduction.blank? %>
        <%= form_for @user do |form| %>
          <div class= "form-group">
            <%= form.text_area :introduction, class: "form-control", maxlength: 500, id: "intro-form", placeholder: "Enter your intro here..." %>
          </div>
          <div class="text-center">
          <%= form.submit 'Submit Intro', class: "btn btn-default", id:"submit-intro", data: { no_turbolink: true } %>
        </div>
          <% end %>
      <% end %>
      
      <!-- begin tables for posts and comments -->
      <% unless @posts.empty? %>
        <%= render 'shared/table' %>
      <% else %>
        <p class="text-center">You do not yet have any posts to display.</p>
      <% end%>
      <% unless @comments.empty? %>
        <%= render 'shared/recent_comments_table' %>
      <% else %>
        <p class="text-center">You do not yet have any comments to display.</p>
      <% end%>
    </div>
  </div>
</section>
<script>
  $( window ).load(function() {
 //place camera icon inside users#edit image tactfully by changing div size
    function camera_icon() {
      var image_width = $("#profile").width();
      var image_height  = $("#profile").height();
      
    
      
      $("#profile-edit-photo").css({'height': image_height, "width": image_width});
      
    }
    
    
    
    //The load event is sent to an element when it and all sub-elements have been completely loaded
    camera_icon();
  });
</script>

