<section class="container">
  <h1 class="text-center"><%=@user.full_name %></h1>
  
  <div class="row">
    <div class="col-sm-6 col-xs-12">
<%= image_tag @user.avatar(:medium), class: "profile" %>
<%= form_for @user, html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit 'Submit Image', class: "btn btn-primary", id:"submit-edit" %> 
<% end %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <% unless @posts ==nil %>
        <%= render 'shared/table' %>
      <% else %>
        <p>You do not yet have any posts to display.</p>
      <% end%>
      
    </div>
    
  </div>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "edit-profile-link btn btn-success" %>
</section>
