<div class="stats">
  
    <strong class="stat">
      <%= @user.following.count %>
    </strong>
    <%=link_to 'following', following_user_path(@user.id) %>
  
  
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
    <%=link_to 'followers', followers_user_path(@user.id) %>
  
</div>



<% if user_signed_in? %>
<div>
  <% if current_user.following?(@user) %>
    <%= link_to 'UnFollow', relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete, class: "btn btn-lg btn-warning", remote: true %>
  <% else %>
    <%= link_to 'Follow', relationships_path(followed_id: @user.id), method: :post, class: "btn btn-lg btn-success", remote: true %>
  <% end %>
</div>
  
<% end %>