<section class="container">
<% provide(:title, @title) %>
<div class="row">
  <aside class="col-xs-12 col-md-4">
    <div class="user_info">
      <%= link_to @user, data: { no_turbolink: true } do %>
        <%=image_tag @user.avatar(:medium), class: "profile" %>
      <% end %>
      <h1><%= @user.full_name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </div>
    <div class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user, class: "thumb-link" do%>
              <%=image_tag user.avatar(:thumb), class: "img-rounded" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </aside>
  <div class="col-xs-12 col-md-8">
    <h3 class="text-center"><%= @title %></h3>
    <% if @users.any? %>
      <table class="table table-striped">
        <thead> <%= @title%></thead>
        <tbody>
        <%= render @users %>
        </tbody>
      </table>
      <%= will_paginate @users, page_links: false, class: "digg_pagination"%>
    <% end %>
  </div>
</div>
</section>