<section class="container">
<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <div class="user_info">
      <%=image_tag @user.avatar(:medium), class: "profile" %>
      <h1><%= @user.email %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </div>
    <div class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user, class: "thumb-link" do%>
              <%=image_tag user.avatar(:thumb), class: "img-rounded" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users-follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
</section>