<article class="container post">
  <h1><strong><%=@post.title%></strong></h1>
  
  <%= @post.content.html_safe %>
  
  
  
  
</article>

<%= render 'info', post: @post %>

<section class="container new-comment">
  <% unless @comments.empty? %>
    <% if @comments.length == 1 %>
      <h3><%=@comments.length %> comment on "<%=@post.title%>" </h3>
    <%else %>
      <h3><%=@comments.length %> comments on "<%=@post.title%>" </h3>
    <% end%>
    <%= render 'shared/comments', comments: @comments %>
  <% end %>
  <hr></hr>
  <h3>Leave a Comment</h3>
  <% if signed_in? %>
      <%= form_for :comment, url: comments_path, html: {class: "comment-form"} do |f| %>
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :content, class: "form-control", required: true, maxlength: 2000 %>
        </div>
        <%=  f.hidden_field(:post_id, value: @post.id ) %>
        <%= f.submit "Post Comment", class:"btn btn-default", data: { no_turbolink: true } %>
      <% end %>  
  <% else %>
    <p>You must sign in to leave a comment</p>    
  <% end %>
</section>
