<article class="container post">
  <h1><strong><%=@post.title%></strong></h1>
  
  <%= @post.content.html_safe %>
  
  
  
  
</article>

<%= render 'info', post: @post %>

<section class="container new-comment">
  <% unless @comments.empty? %>
    <h3><%=@comments.length %> comments on "<%=@post.title%>" </h3>
    <%= render 'shared/comments', comments: @comments %>
  <% end %>
  <hr></hr>
  <h3>Leave a Comment</h3>
    <%= form_for :comment, url: comments_path, html: {class: "comment-form"} do |f| %>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :content, class: "form-control", required: true, maxlength: 2000 %>
      </div>
      <%=  f.hidden_field(:post_id, value: @post.id ) %>
      <%= f.submit "Post Comment", class:"btn btn-default", data: { no_turbolink: true } %>
    <%end%>
</section>
