<!DOCTYPE html>
<html>
<head>
  <title>Tddblog</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">TDD_BLOG</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><%= link_to 'Profile', user_path(current_user.id), class: "btn btn-small btn-primary"%></li>
          <li><%= link_to 'New Post', new_post_path, class: "btn btn-small btn-success"%></li>
          <li><%= link_to('Logout', destroy_user_session_path, class: "btn btn-small btn-warning", :method => :delete) %></li>
    </ul>
      <% else %>
          <li><%= link_to 'Login', new_user_session_path, class: "btn btn-small btn-primary" %></li>
          <li><%= link_to 'Signup', new_user_registration_path, class: "btn btn-small btn-success" %></li>
    </ul>
      <% end %>
    
    </ul>
  </div> <!--container-->
</nav>
<%= yield %>

</body>
</html>
