<!DOCTYPE html>
<html>
<head>
  <title>The Error Logs</title>
  <script src="https://use.typekit.net/mjn1urt.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>  
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
     <% elsif flash[:alert]%>
       <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  
  <%= render "layouts/navigation" %>
  
  <%= yield %>
</body>
</html>